<div class='card'>
  <div class='card-body'>
    <div class='table-responsive'>
      <!-- <table class='table' *ngIf = 'playlists && playlists.length'> -->
        <table class='table'>
        <thead>
          <tr>
            <th>nazwa</th>
            <th>ilość utworów</th>
            <th>długość</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let playlist of playlists'>
              <td>
                  {{playlist.name}}
                </td>
            <td>{{playlist.totalTracks}}</td>
            <td>{{playlist.duration}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <!-- <table class='table' *ngIf = 'playlist && playlist.tracks && playlist.tracks.length'> -->
        <table class='table'>
        <thead>
          <tr>
            <th>nazwa {{playlist.name}}</th>
            <th>ilość utworów {{playlist.totalTracks}} utworów</th>
            <th>długość {{playlist.duration}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let track of playlist.tracks'>
            <td>{{track.title}}</td>
            <td>{{track.artist}}</td>
            <td>{{track.duration}}</td>
            <td><button class="btn btn-primary" (click)='onPlay($event)' id={{track.id}}>
              |>
          </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>